/*MEDIA*/
@media only screen and (max-width : 1280px) {
	.main-catalog {
		.catalog-heder {
			.h1 {
				width: 100%;
				padding-right: 0;
			}
			.search {
				padding: 20px 0 0 0;
			}
		}
	}
}
@media only screen and (max-width : 1024px) {
	.main-favorit {
		ul li {
			padding-right: @main-mob-padding; 
		}
	}
	.main-asside {
		padding: 0 @main-mob-padding;
		width: calc(@filter-width ~'- 50px');
	}
	.main-catalog {
		width: calc(~'100% -' @filter-width - 50px);
		padding-right: 15px;
		.catalog-heder > * {
			display: block;
			width: 100%;
			padding: 5px 0;
		}
		.catalog-content {
			padding-bottom: 30px;
		}
	}
	.main-footer {
		padding: 25px 15px 25px 25px;
		.footer-more .social {
			padding-top: 20px;
		}
	}
}
@media only screen and (max-width : 767px) {
	.header {
		width: @header-mobile-width;
		.box-shadow(@blur: 19px, @alpha: 0.5);

		.logo img {
			padding: 10px 5px;
		}			
		.header-second {				
			width: @header-mobile-width;
		}
	}		
	.main {
		padding: 0 @main-mob-padding;
		margin-left: @header-mobile-width;
	}
	.main-asside  {
		float: none;
		width: 100%;
		padding: 0;    
		margin-top: -40px;
		.btn-collapse {
			display: block !important;
		}
		#filter {
			.filter-element .palitra {
				max-width: none;
			}
			.filter-element > li {
				display: inline-block;
				vertical-align: top;
			}
		}
	}
	.main-catalog {
		float: none;
		width: 100%;
		padding: 30px 0 0 0;
	}
	.main-footer {
		margin: 0 -@main-mob-padding;
		padding: 30px @main-mob-padding;
		.footer-signature {
			margin-top: 10px;
		}
		.footer-social p .icon {
			margin-bottom: 10px;
		}
		.created {
			margin-top: 20px;
		}
	}
}

@media only screen and (max-width : 375px), only screen and (max-height : 590px) {
	.header {
		position: static !important;
		.header-second {
			position: static !important;
			padding-top: 10px;
		}
	}
	.main {
		margin-left: 0;
		.main-footer {
			.box-shadow-inset(@blur: 19px, @alpha: 0.5)
		}
	}
}
@media only screen and (max-width : 330px) {
	.content-item {
		width: 100%;
	}
}