/*MEDIA*/	
@media only screen and (max-width : 1280px) {
	.main-catalog .catalog-heder {
		.h1 {
			width: 100%;
			padding-right: 0;
		}
		.search {
			padding: 20px 0 0 0;
		}
	}
}
@media only screen and (max-width : 1024px) {
	.main-favorit {
		ul li {
			padding-right: @main-mob-padding; 
		}
	}
	.main-asside {
		padding: 0 @main-mob-padding;
		width: calc(@filter-width ~'- 50px');
	}
	.main-catalog {
		width: calc(~'100% -' @filter-width - 50px);
		padding-right: 0px;
			.catalog-heder > * {
				display: block;
				width: 100%;
				padding: 5px 0;
			}
	}
	.main-footer {
		padding: 0 25px;
	}
}
@media only screen and (max-width : 767px) {
	.header {
		width: @header-mobile-width;
		.box-shadow(@blur:10px; @alpha:0.5);
		.logo img {
			padding: 10px 5px;
		}			
		.header-second {				
			width: @header-mobile-width;
		}
	}		
	.main {
		padding: 0 @main-mob-padding;
		width: calc(~'100% -'@header-mobile-width);
	}
	.main-asside  {
		float: none;
		width: 100%;
		padding: 0;    
		margin-top: -30px;
		.btn-collapse {
			display: block !important;
		}
		#filter {
			.filter-element .palitra {
				max-width: none;
			}
			.filter-element > li {
				display: inline-block;
				vertical-align: top;
			}
		}
	}
	.main-catalog {
		float: none;
		width: 100%;
		.catalog-heder > * {
			text-align: center;
		}
	}
	.main-footer {
		margin: 0 -@main-mob-padding;
		padding: 0 @main-mob-padding;
	}
}