//mixin
.box-shadow (@x: 5px, @y: 0px, @blur: 29px, @alpha: 1) {
	box-shadow: @x @y @blur rgba(179, 179, 179, @alpha);
}

.hover-and-active (@decor: 'none') {
	&.active {
		background-color: @active-color;
	}
	&:hover {
		background-color: @hover-color;
		span:first-child {
			text-decoration: @decor;
		}
	}
}


//catalog + carousel
.item-img() {
	width: 100%;
	padding-bottom: 20px;
}
.item-caption(@size: @font-size-caption) {
	font-size: @size;
	font-family: @font-bold;
	border-bottom: @border;
}