//Corporate colors
@base-color: #ee811b;
@active-base-color: spin(@base-color, -15);

//Link color
@active-color: #f9eebe;
@hover-color: lighten(@active-color, 5%);
//btn color
@btn-color: #636363;

//Fonts
@font-name: 'GothamPro';
@font-path: "../fonts";
@font-regular: '@{font-name}Regular';
@font-bold: '@{font-name}Bold';
@font-italic: '@{font-name}Italic';
@font-size: 13px;
@base-fonts-color: #000000;
@header-color: #010000;


//block
@body-min-width: 320px;

@header-width: 86px;
@header-mobile-width: @header-width - 25px;

@main-padding-top: 0px;
@main-padding-right: 70px;
@main-padding-bottom: 0px;
@main-padding-left: 70px;
@main-mob-padding: 10px;

@filter-width: 292px;