@import (less) "elements/variables.less";
@import (less) "elements/mixin.less";
@import (less) "elements/fonts.less";
@import (less) "sprite.css";


/*BASE STYLE*/
html,
body {
	height: 100%;
	overflow: hidden;
	min-width: @body-min-width;
	font-family: @font-regular;
	font-size: @font-size;
}
body {
	overflow: auto;
}
.icon {
	display: inline-block;
}
.btn-style {
	color: @base-color;
	background-color: #fff;
	border: 2px solid @base-color; 
}
.h1, 
.h2 {
	font-size: 38px;
	font-family: @font-bold;
	.clear-p-m();
}
.h2 {
	font-size: 24px;
}
a,
a:hover,
a:focus {
	color: @base-fonts-color;
	text-decoration: none;
}
ul {
	list-style: none;
	.clear-p-m();
}
b {
	font-family: @font-bold;
	text-transform: uppercase;
}
i {
	font-family: @font-italic;
}

//Base grid
.wrapper{
	display: flex;
	width: 100%;
	min-height: 100%;
}

//header
.header {
	flex: 1;
	width: @header-width;
	min-height: 100%;
	text-align: center;
	position: fixed;
	.box-shadow();

	.logo img{
		padding: 30px 13px 30px;
		width: 100%;
	}

	.header-first,
	.header-second {
		padding: 0;
		a {
			display: block;
			padding: 13px 0;
			.hover-and-active();
		}
	}
	.header-second {
		position: absolute;
		bottom: 0;
		width: @header-width;
	}
}

//Main
.main {
	overflow: hidden;
	margin-left: @header-width;
	padding-top: @main-padding-top;
	vertical-align: top;    
}

.main-favorit {
	max-height: 50px;
	text-align: right;
	ul li{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		padding-right: @main-padding-right; 
		span {
			display: block;
			font-size: 12px;
		}
		.icon-s-fav-like span {
			padding-top: 12px;
			color: #fff;
		}
		.icon-s-fav-star span {
			padding-top: 40px;
			color: @base-color;
		}
	}
}
//Filter
.main-asside {
	float: left;
	width: @filter-width;
	padding: 0;
	padding-left: @main-padding-left - 25px;
	padding-right: @main-padding-left - 25px;
	.btn-collapse {
		display: none;
		width: 100px;    
		padding: 1px 5px;
		margin-bottom: 10px;
		text-align: left;
		color: @base-color;
		background-color: #fff;
		border: 2px solid @base-color;  
		&:last-of-type {
			margin-bottom: 20px;
		}
		.glyphicon-chevron-down {
			float: right;
			top: 3px;
		}
	}
	#filter,
	#filter ul {
		margin: 0;
		padding: 0;
		.filter-section {
			padding-bottom: 30px;
		}
		.filter-name {
			display: block;
			padding: 5px 15px;
			font-size: 14px;
			color: @header-color;
			text-transform: uppercase; 
		}
		.filter-element > li {
			padding: 2px 0;
			a{
				display: inline-block;	
				padding: @filter-li-a-padding;
				color: @base-fonts-color;
				text-decoration: none;
				.hover-and-active();
			}
		}
		.filter-element .palitra {
			display: inline-block;
			max-width: 175px;
			padding: 5px 15px;
			font-size: 0;
			.icon {
				width: 21px;
				height: 21px;
				padding: 0;
				margin: 2px 2px 0 0;
				&.active {
					border: 1px solid #d5d5d5; 
				}
			}
		}
	}
}
//main-catalog
.main-catalog {
	float: left;
	width: calc(~'100% -'@filter-width);
	padding-right: @main-padding-right;

	.catalog-heder {
		& * {
			display: inline-block;

		}
		.h1 {
			padding-right: 30px;
			color: @header-color;
		}
		.search {
			.form-input-style();
		}
		.popular {
			float: right;
			padding-top: 21px;
			padding-right: 50px;
			ul, 
			li{
				padding-left: 8px;
				a {
					margin: 0 8px;
					color: @base-fonts-color;
					border-bottom: 1px dashed #000080;
				}
			}
		}
	}
	.catalog-resfilter {
		padding-top: 27px;
		ul {
			padding-top: 15px;
			padding-bottom: 45px;
			font-size: @font-size-text;
		}
		ul li{
			display: inline-block;
			margin-bottom: 4px;
			a {
				display: block;
				padding: @filter-li-a-padding;
				color: @base-fonts-color;
				background-color: @active-color;
				.hover-and-active(@decor:line-through);
				&:after {
					content:'✖';
					padding-left: 5px;
					font-size: 15px;
					opacity: 0.5;
				}
			}
		}
	}
	.catalog-content {
		overflow: hidden;
		padding-bottom: 80px;
		.content-item {
			a{
				display: block;
				margin-bottom: 45px;
				.item-img {
					.item-img();
				}
				.item-caption {
					.item-caption();
				}
			}

		}
	}
	.catalog-viewed {
		.item-img {
			.item-img();
		}
		.item-caption {
			.item-caption(@size: @font-size-text);
		}
	}
}

.main-footer {
	display: block;
	background: #f1f1f1;
	margin-top: 75px;
	padding: 50px @main-padding-right;
	padding-left: @main-padding-left - 10px;
	.full-logo {
		padding-bottom: 35px;
		img:last-child {
			margin-left: -10px;
		}
	}
	.footer-about {
		.disabled-text();
	}
	.footer-nav {
		a {
			display: inline-block;
			margin-bottom: 5px;
			text-decoration: underline;
			&:hover {
				opacity: 0.8;
			}
			b {
				display: inline-block;
				font-size: @font-size-text;
				text-transform: none;
				text-decoration: underline;
				margin-bottom: 5px; 
			}
		}
		.link p {
			.clear-p-m();
		}
	}
	.footer-social {
		p {
			display: block;
			font-size: @font-size + 1px;
			.clear-p-m();
			.icon {
				margin: 10px 1px 30px;
			}
		}
	}
	.footer-signature {
		margin-top: 40px;
		.news {
			padding-right: 0;
			color: @base-fonts-color;
			.form-input-style(@width:auto; @bg-color:#f1f1f1; @font-s: @font-size;);
			input {
				max-width: 140px;
			}
		}
		p {
			.disabled-text();
		}
	}
}


@import (less) "elements/plugins.less";
@import (less) "elements/media.less";