@import (less) "fonts.less";
@import (less) "sprite.css";

//Corporate colors
@base-color: rgb(238, 129, 27);
@active-base-color: rgb(238, 77, 27);

//Link color
@active-color: rgb(249, 239, 192);
@hover-color: darken(@active-color, 20%);

//Fonts
@font-name: 'GothamPro';
@font-path: "../fonts";
@font-regular: '@{font-name}Regular';
@font-bold: '@{font-name}Bold';
@font-italic: '@{font-name}Italic';
@base-fonts-color: rgb(0, 0, 0);
@header-color: rgb(1, 0, 0);


//block
@body-min-width: 320px;
@navigation-width: 86px;
@content-padding: 0 71px 0 43px;
@filter-width: 250px;

//mixin
.box-shadow (@x: 5px, @y: 0px, @blur: 29px, @alpha: 1) {
	box-shadow: @x @y @blur rgba(179, 179, 179, @alpha);
}

/*STYLE*/
html,
body {
	height: 100%;
	min-width: @body-min-width;
	font-family: @font-regular;
}

.wrapper{
	display:flex;
	width:100%;
	min-height: 100%;
}

//Navigation
.navigation {
	width: @navigation-width;
	text-align: center;
	.box-shadow();
	@media only screen and (max-width : 768px) {
		width: @navigation-width - 25px;
		.box-shadow(@blur:10px; @alpha:0.5);
	}

	.logo img{
		padding: 33px 14px;
		width: 100%;
		@media only screen and (max-width : 768px) {
			padding: 10px 5px;
		}
	}
}

//Base grid
.main-content {
	width: 100%;
	padding: @content-padding;
	@media only screen and (max-width : 768px) {
		padding: 0 10px;
	}

	.filter {
		float: left;
		width: @filter-width;
	}
	.catalog {
		display: inline-block;
		width: calc(~'100% -'@filter-width);
	}
	@media only screen and (max-width : 768px) {
		.filter,
		.catalog,
		.footer {
			float: none;
			width: 100%;
		}
	}
}